.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.grid {
  display: grid; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.games__item {
  background-color: #ccc;
  min-height: 35vh;
  margin: 2px 0;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.name {
  position: relative;
  color: #fff; }

.games__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: .3;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.games__item:hover:before {
  opacity: .1; }

.game {
  padding-left: 2px;
  padding-right: 2px; }

.filter-links {
  margin-bottom: 20px; }
  .filter-links a {
    color: #000;
    background-color: #ccc;
    padding: 10px 20px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.filter-links a:hover {
  background-color: #8eb9ff; }

.filter-links .active {
  background-color: #8eb9ff; }
